.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 512px;
    height: 512px;
}

.subcontainer {
    display: flex;
    width: 512px;
    flex-grow: 1;
}

.box {
    width: 14px;
    flex-grow: 1;
    border: 1px dotted lightgrey;
    background-color: white;
}

.hover {
    background-color: lightgrey;
}

.filled {
    background-color: black;
}