.header {
    text-align: center;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 48px;
    padding: 16px;
    color: crimson;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: crimson;
    padding: 16px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 512px;
    height: 512px;
    padding: 16px;
}

.subcontainer {
    display: flex;
    width: 512px;
    flex-grow: 1;
}

.box {
    width: 14px;
    flex-grow: 1;
    border: 1px dotted lightgrey;
    background-color: white;
}

.hover {
    background-color: lightgrey;
}

.filled {
    background-color: black;
}

.circle-button {
    width: 64px;
    height: 64px;
    border: 8px dashed white;
    background-color: lightgrey;
    border-radius: 32px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
}

.buttons {
    width: 512px;
    display: flex;
    justify-content: space-between;
}

.z {
    background-color: grey;
}

.e {
    background-color: grey;
}

input {
    background-color: lightgray;
    border: 4px solid white;
    border-radius: 16px;
    font-family: sans-serif;
    font-weight: bold;
}
input:hover {
    background-color: grey;
}